<div class="bg-gray-200 p-10 dark:bg-gray-800 dark:text-white">

    <div class="w-11/12 mx-auto">
        <h2 class="text-2xl font-light">Get The Fresh Cart APP</h2>
        <p class=" my-3 text-lg text-gray-400 font-light">We will send you a link , open it on your phone</p>

        <div class="flex justify-between">
            <input type="text" name="street-address" id="street-address" autocomplete="street-address"
                class="block w-9/12 rounded-md bg-white px-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
            <button class="py-3 px-4 rounded text-white bg-green-600"> Share App link </button>
        </div>

        <div class="w-full my-3 h-[1px] bg-gray-300"></div> 

        <div class="flex">
            <span class="pe-4">Payment partners </span>
            <img alt="amazon" class="w-[50px]" src="/images/amazon-pay.png">
            <img alt="mastercard" class="w-[50px]" src="/images/mastercard.webp">
            <img alt="apple" class="w-[50px]" src="/images/get-apple-store.png">
            <img alt="googlepay" class="w-[50px]" src="/images/get-google-play.png">
        </div>

        <div class="w-full my-3 h-[1px] bg-gray-300"></div>

    </div>

</div>
