<div class=" h-screen p-[20px]" >
    <form class="max-w-sm mx-auto" [formGroup]="restpassForm" (ngSubmit)="resetpasssubmet()">
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">your email</label>
    <input type="email" formControlName="email" id="email" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="youssif@gmail.com" required />


    <label for="newPass" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">new password</label>
    <input type="password" formControlName="newPassword" id="newPass" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="password" required />


    <button type="submit"
    class="text-white bg-green-700 hover:bg-green-800 disabled:bg-gray-400 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
    Send @if(isloding){<i class="fa-solid fa-spin fa-spinner"></i>}
   </button>
    
</form>

</div>