<div class="h-[300px] overflow-hidden">
  <div class="flex  overflow-hidden mp-[20px] ">
    <div class="w-[60%]">
      <div class=""><img src="/images/img2.avif" alt=""></div>
      <div class=""><img src="/images/img2.avif" alt=""></div>
      <div class=""><img src="/images/img2.avif" alt=""></div>
    </div>
    <div class="h-[300px]">
      <div class=""><img src="/images/img1.avif" alt=""></div>
      <div class=""><img src="/images/img3.avif" alt=""></div>

    </div>
  </div>
</div>


<div class="w-3/4 m-[30px] shadow-sm mx-auto">
  <owl-carousel-o [options]="customOptions2" >

    @for (item of allproducts; track $index) {
    <ng-template carouselSlide>
      <img [src]="item.imageCover" alt="">
    </ng-template>
    }
  
  </owl-carousel-o>
  
</div>


<div class="mx-auto w-1/2 m-4 shadow-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-gray-700 ">
  
  <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
  <div class="relative">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
      </div>
      <input type="search" [(ngModel)]="userSerchWord" id="default-search" class="block  w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search product name" required />
  </div>
</div>




<div class="flex  mx-auto m-4 flex-wrap grid  md:grid-cols-6 sm:grid-cols-3 gap-2">



  @for (PRODUCT of allproducts |search:userSerchWord; track $index) {

  <app-card [cardproduct]="PRODUCT"></app-card>



  }
</div>